.city-table {
  border: 3px solid gray;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
}

.city-row {
  cursor: pointer;
  display: flex;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 0.25rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.25s ease-in-out;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 1;
  }

  &__city-name {
    color: #6a6a6a;
    transition: 0.25s;
    transform-origin: left center;

    &:hover {
      color: black;
      transform: scale(1.1);
    }

    &--forecast {
      @extend .city-row__city-name;
      text-align: left;
    }
  }

  &__country {
    font-size: calc(1rem + 0.6vw);
  }
}

.city-row__weather {
  padding-bottom: 1rem;
}

.city-row__weather-icon {
  height: 5rem;
  width: 5rem;
  display: inline-block;
  margin-bottom: 0;

  &--sunny {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--thunderstorm {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--drizzle {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--rain {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--snow {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--mist,
  &--haze,
  &--dust,
  &--fog,
  &--sand,
  &--dust,
  &--ash,
  &--squall,
  &--tornado {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--clear {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--clouds {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--01d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 0;
  }

  &--02d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 300px 0;
  }

  &--03d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 310px;
  }

  &--04d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 300px 310px;
  }

  &--09d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 205px;
  }

  &--10d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 300px 208px;
  }

  &--11d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 0 105px;
  }

  &--13d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 300px 105px;
  }

  &--50d {
    @extend .city-row__weather-icon;
    background: url(../../public/weather-icons.png) 110px 0;
  }
}

.city-row__delete-button {
  background-color: #ec6d4c;
  border-color: #bf5812;

  &:hover {
    background-color: #d05d3f;
    border-color: #8f4832;
  }
}
