.forecast-day-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  margin-bottom: 10px;
}

.forecast-card {
  width: 20%;

  @media (max-width: 600px) {
    min-width: 130px;
  }

  &--active {
    width: 30%;
  }

  @media (max-width: 600px) {
    &--active {
      min-width: 180px;
    }
  }

  @media (max-width: 600px) {
    &__body {
      padding: 5px;
    }
  }

  @media (max-width: 600px) {
    &__date {
      margin-bottom: 0.1rem;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon-wrapper {
    margin-top: -20px;
    margin-left: -20px;
  }

  &__temperatures {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
  @media (max-width: 600px) {
    &__temperatures {
      margin-left: 0;
    }
  }

  &__max-temperature {
    font-weight: bold;
  }

  &__description {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #dbdde6;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 600px) {
    &__description {
      margin-left: 10px;
      padding-left: 10px;
    }
  }

  &__footer {
    padding: 10px 0;
  }

  @media (max-width: 600px) {
    &__footer {
      padding: 10px 0;
    }
  }

  &__footer-humidity {
    padding-right: 5px;
  }

  &__footer-humidity::after {
    content: "|";
  }

  &__footer-wind {
    padding-left: 5px;
  }
}
