@import "~bootstrap/scss/bootstrap";
@import "./scss/_city_table";
@import "./scss/_city_search";
@import "./scss/forecast_day_card";
@import "./scss/_media_queries";

.App {
  text-align: center;

  >h3 {
    margin: 2rem 0;
  }
}

.container {
  max-width: 900px;
}

.mt-40 {
  margin-top: 40px;
}

.ml-40 {
  margin-left: 40px;
}

.city-list-item {
  list-style-type: none;
}